* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;  
    background-image: url('bgkertas.png');
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    color: #205c20;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.card {
    height: 500px;
    width: 290px;
    margin: 20px;
    box-shadow: 0 3px 5px #205c20;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #b3b3b3;
    position: relative;
}

.card .bg-image img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card .pic img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid #222;
    margin-top: -90px;
    position: relative;
}

.card .info h3 {
    color: aliceblue;
    font-size: 20px;
    padding: 10px 0;
}

.card .info span {
    font-size: 15px;  
    color: whitesmoke;
}

.card .info p {
    font-size: 13px;
    padding: 10px 20px;
    color: whitesmoke;
}

/* CSS untuk membuat link "Tentang saya" menjadi tombol */
.card .info li {
    list-style-type: none;
    margin-top: 10px; /* Beri jarak antara "Teknik Informatika" dan "Tentang saya" */
}

.card .info a {
    display: inline-block; 
    padding: 10px 20px; 
    margin-top: 10px; 
    color: white; 
    background-color: #205c20; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 16px;
    border: 2px solid #205c20; 
    transition: background-color 0.3s ease; 
}

.card .info a:hover {
    background-color: white; /* Mengubah warna background saat di-hover */
    color: #205c20; /* Mengubah warna teks saat di-hover */
}
